@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Montserrat:300,400,500");

div#map {
  text-align: center;
  margin-top: 85px;
  min-height: 360px;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 60px;
}
