@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Montserrat:300,400,500");

body {
  background-color: bisque;
}

.row {
  margin: 0;
  padding: 0;
}

/*-----Nav-bar- Header----*/

.navbar-light .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f50a77;
  box-shadow: -5px 8px 12px 0px black;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f50a77;
}

/*----Form----*/
.search-form {
  text-align: center;
  padding-bottom: 1em;
}
/*---H1 etc, title-----*/

.container-about {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}

/*---Section-restaurant-pub-culture---*/

.restaurantDetails,
.pubDetails,
.cultureDetails {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size-adjust: 0.58;
  text-align: center;
  margin-bottom: 0;
  display: none; /** is too allow us to make it appear when we clicked on a button**/
}
.recommendedRestaurant,
.recommendedPubs,
.recommendedCulture {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  display: none; /** is too allow us to make it appear when we clicked on a button**/
}

.bg-restaurant-container {
  margin-bottom: 8em;
  height: 100vh;
  background-image: url("../images/glasgow-goma.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*---map--*/

div#map {
  text-align: center;
  width: auto;
  min-height: 400px;
  margin-bottom: 2em;
}

/*-----Footer---*/

#footer {
  position: fixed;
  bottom: 0;
  background-color: #343a40;
  text-align: center;
}

a.logo-footer {
  color: #f50a77;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.logo-footer:hover {
  font-size: 20px;
  text-decoration: none;
  color: #f50a77;
}

.fab {
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  padding: 12px 0;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8f8a8c;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.fab:hover {
  text-decoration: none;
  background-color: #f50a77;
}

/*---media-queries---*/

@media (max-width: 768px) {
  .restaurantDetails,
  .pubDetails,
  .cultureDetails {
    display: none;
  }
}
