@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Montserrat:300,400,500");

/*-----Nav-bar- Header---*/

.nav-item {
  font-family: "Montserrat", sans-serif;
}



/*---H1 etc, title-----*/

.container-about {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
}

.restaurant-details,
.pub-details,
.culture-details {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  display: none; /** is too allow us to make it appear when we clicked on a button**/
}

/*---Section-restaurant-pub-culture---*/
.bg-restaurant-container {
  margin-bottom: 20px;
  height: 70vh;
  background-image: url("../images/glasgow2_1000_667_80.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

ul {
  text-align: center;
  list-style-type: none;
}

/*-----map---*/

div#map {
  text-align: center;
  width: auto;
  min-height: 360px;
  margin-bottom: 15px;
}

/*-----Footer---*/

#footer {
  background-color: #f50a77;
  min-height: 5em;
  text-align: center;
}

a.logo-footer {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.logo-footer:hover {
  font-size: 25px;
  text-decoration: none;
  color: #070707;
}

.fab {
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  padding: 12px 0;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f50a77;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.fab:hover {
  text-decoration: none;
  background-color: #070707;
}
